name: Build and Archive

on:
  push:
    branches:
      - main
      - demo
  pull_request:
    branches:
      - main
      - demo
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install --frozen-lockfile

      - name: Build project
        run: npm run build

      - name: Install AVIF utilities
        run: sudo apt-get update && sudo apt-get install -y libavif-dev libavif-bin imagemagick
    
      - name: Convert all images in ./out to AVIF (keep original filenames)
        run: |
          find ./dist -type f \( -iname '*.png' -o -iname '*.jpg' -o -iname '*.jpeg' -o -iname '*.gif' -o -iname '*.bmp' -o -iname '*.webp' \) | while read img; do
            convert "$img" "${img}.temp.avif"            
            rm "$img"            
            mv "${img}.temp.avif" "$img"
          done

      - name: Gzip process
        run: find ./dist/ -type f -exec gzip -k -f -9 {} \;

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: v${{ github.run_number }}
          release_name: Release v${{ github.run_number }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create tar.gz archive
        run: tar -czf nw_f.tar.gz -C dist .

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: nw_f.tar.gz
          asset_name: nw_f.tar.gz
          asset_content_type: application/gzip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
